.container h1 {
  text-align: center;
  margin-top: 5%;
}

.container hr {
  background-color: #004D40;
  width: 70%;
  height:3px;
  margin-bottom: 5%;
}

.container .first {
  text-align: justify;
}
.container .second {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

#mailBtn {
  background-color: #004D40 !important;
  border: none !important;
  margin-bottom: 5%;
}
